@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

$blue_theme: url(/img/contact_bg.jpg);
$blue_color: #56a4e1;

$current_theme: url(/img/contact_bg_red_2.jpg);
$current_color: #ee0055;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .2s;
}
body {
    background: $current_theme;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}
.contact-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .heading {
        text-align: center;
        color: white;
        font-size: 1.8rem;
        font-weight: 800;
        letter-spacing: 2px;
        margin: 1rem 0;
    }
    .form {
        width: 70%;
        // height: 60vh;
    }
    .contact-box {
        width: 100%;
        min-height: 60vh;
        // background: rgba(0, 0, 0, 0.6); //For Blue
        background: rgba(50, 0, 0, 0.6); // For Red
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 14px 18px;
        .submit-btn {
            // display: block;
            width: 100%;
            padding: 14px 18px;
            input {
                padding: 14px 18px;
                width: 100%;
                font-size: 1.2rem;
                letter-spacing: 1px;
                text-transform: uppercase;
                background: $current_color;
                color: #efecf5;
                border: none;
                cursor: pointer;
                outline: none;
                &:hover {
                    background: #67b1e9; // For Blue
                    background: #a10055; // For Red
                }
            }
        }
    }
    .form-box {
        display: flex;
        width: 100%;
        .input-box, .msg-box {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            // width: 48%;
            margin: 0 1.5rem;
            input.input, textarea.input {
                margin: 4% 0;
                width: 100%;
                padding: 8px 10px;
                border: none;
                outline: none;
                background: transparent;
                color: #efecf5;
                font-size: 1.3rem;
                border-bottom: 2px solid #efecf5; // For Blue
                border-bottom: 2px solid #aa0000; // For Red
            }
            textarea.input {
                height: 100%;
            }
        }
    }
}

::-webkit-input-placeholder {
    color: #efecf5;
}

@media screen and (max-width: 660px) {
    .form-box {
        flex-direction: column;
    }
    .form {
        width: 90vw !important;
        height: 70%;
        .contact-box {
            height: 100%;
        }
    }
    .form-box .msg-box textarea.input {
        height: 150px !important;
    }
}

@media screen and (min-width: 660px) {
    .input-box, .msg-box {
        width: 48%;
    }
}